@model ITLearning.Frontend.Web.ViewModels.Home.HomeViewModel

@{
    var userData = Model.UserData;
    var mainNews = Model.MainNews;
    var smallNewsList = Model.SmallNews;
    var widgetViewModel = Model.UserWidgetViewModel;
}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="user-profile-container">
                    <img class="user-image" src="@userData.ProfileImagePath" alt="Zdjęcie profilowe" />
                    <div class="user-data-container">
                        <div class="user-name">
                            <a asp-controller="User" asp-action="Profile" class="profile-link">
                                <i class="fa fa-cog"></i>
                            </a>
                            <p>@( userData.FirstName ?? userData.UserName) </p>
                        </div>
                        @Html.Partial("Partials/UserShortcutsWidget", widgetViewModel)
                    </div>
                </section>
            </div>
            <div class="col-md-9">
                <h4 class="section-header section-header-success">IT Newsy</h4>
                <section class="section-container news-container">
                    @if (mainNews != null)
                    {
                        <div class="row news-row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <article class="news news-big" style="background-image: url('@mainNews.ImagePath')">
                                    <div class="news-info-wrapper">
                                        <ul>
                                            <li>
                                                <div class="icon-wrapper">
                                                    <i class="fa fa-pencil-square-o"></i> @mainNews.Date.ToShortDateString()
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-wrapper">
                                                    <a href="/News/Author/@mainNews.Author">
                                                        <i class="fa fa-user"></i> @mainNews.Author
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="/News/Single/@mainNews.Id" class="news-description-wrapper news-link">
                                        <p class="news-text">@mainNews.Title</p>
                                    </a>
                                </article>
                            </div>
                        </div>
                    }
                    @if (smallNewsList != null && smallNewsList.Any())
                    {
                        <div class="row news-row">
                            @foreach (var news in smallNewsList)
                            {
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <article class="news news-small" style="background-image: url('@news.ImagePath')">
                                        <div class="news-info-wrapper">
                                            <ul>
                                                <li>
                                                    <div class="icon-wrapper"><i class="fa fa-pencil-square-o"></i> @news.Date.ToShortDateString()</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="/News/Single/@news.Id" class="news-description-wrapper news-link">
                                            <p class="news-text">@news.Title</p>
                                        </a>
                                    </article>
                                </div>
                            }
                        </div>
                    }
                </section>
                <h4 class="section-header section-header-primary">IT Nauka</h4>
                <section class="section-container learning-container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="learning-hub">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="learning-hub-title">NAJNOWSZE ZADANIA</h5>

                                        <itl-task-list>
                                            <itl-loading-indicator parent-vm="taskListVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                                        </itl-task-list>

                                        <a href="#" class="btn btn-default pull-right">Więcej</a>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="learning-hub-title">TWOJE GRUPY</h5>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <itl-groups-basic-list no-of-groups="3">
                                                    <itl-loading-indicator parent-vm-scoped="groupListVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                                                </itl-groups-basic-list>
                                                <a asp-controller="Groups" asp-action="Index" class="btn btn-default pull-right">Więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>