@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    var appName = ViewBag.PageTitle != null ? $"{ViewBag.PageTitle} - IT Learning" : "IT Learning";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@appName</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="~/lib/Font-Awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/src/css/bootstrap-layout.css" rel="stylesheet" />
    <link href="~/src/css/header.css" rel="stylesheet" />
    <link href="~/src/css/layout.css" rel="stylesheet" />

    <link href="~/src/css/directives/task-list.css" rel="stylesheet" />
    <link href="~/src/css/directives/loading-indicator.css" rel="stylesheet" />
    <link href="~/src/css/directives/group-users.css" rel="stylesheet" />

    <link href="~/lib/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" />
</head>
<body ng-app="app">
    @RenderSection("BodyScripts", required: false)

    @Html.Partial("~/Views/Shared/Partials/Header.cshtml")
    <article class="main-content">
        <div class="content">
            @RenderBody()
        </div>
    </article>
    @Html.Partial("~/Views/Shared/Partials/Footer.cshtml")

    @Html.Partial("~/Views/Shared/Partials/BaseScripts/AppBaseScripts.cshtml")
    @RenderSection("Scripts", required: false)

    <!-- Keep this at the end of scripts-->
    <!--[if lte IE 8]><script src="~/lib/html5shiv/dist/html5shiv.js"></script><![endif]-->
</body>
</html>