@model ITLearning.Contract.Data.Model.Tasks.TaskData

@{
    var language = Model.SelectedLanguage.ToString();
}

<div class="task-header" ng-style="publicSingleTaskVM.BackgroundImage" ng-controller="OwnerSingleTaskViewController as ownerSingleTaskVM"
     ng-init="ownerSingleTaskVM.init('@language')">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div ng-style="ownerSingleTaskVM.BackgroundColor" style="width: 100px; height: 26px; border-radius: 3px; margin-left: 1px;">
                    <div style="display: inline-block;">
                        <i class="fa fa-file" style="font-size: 26px;"></i>
                    </div>
                    <div style="display: inline-block; margin-left: 5px;">
                        <h3 class="name" style="font-size: 20px; position:absolute; top: -3px;"> {{ownerSingleTaskVM.Language}}</h3>
                    </div>
                </div>
                <h4 class="description">@Model.Title</h4>
            </div>
            <div class="col-md-4">
                <p>Grupa</p>
                @if (Model.UserGroup != null)
                {
                    <div><a href="/Groups/@Model.UserGroup.Id"><i class="fa fa-users"></i> @Model.UserGroup.Name</a></div>
                }
                else
                {
                    <div>Brak przydzielonej grupy</div>
                }
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="task-description" ng-show="ownerSingleTaskVM.IsDescriptionVisible">
                    @Html.Raw(Model.Description)
                </div>
                <div class="btn btn-success" ng-click="ownerSingleTaskVM.IsDescriptionVisible = !ownerSingleTaskVM.IsDescriptionVisible" style="margin-left: 0px;">
                    <i ng-class="ownerSingleTaskVM.IsDescriptionVisible ? 'fa fa-arrow-circle-up' : 'fa fa-arrow-circle-down'"></i>
                    {{ ownerSingleTaskVM.IsDescriptionVisible ? "Ukryj" : "Pokaż" }} Opis
                </div>
                <div>
                    <label class="control-label" style="margin-top: 42px;">Instancje zadania:</label>
                    <div class="table-responsive">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th style="min-width: 110px;">Użytkownik</th>
                                    <th>Rozpoczęto</th>
                                    <th>Zakończono</th>
                                    <th>Code Review</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TaskInstances)
                                {
                                    <tr>
                                        <td style="min-width: 110px;">@item.User.UserName</td>
                                        <td>@item.CreateDate</td>
                                        @if (@item.Finished)
                                        {
                                            <td>@item.FinishDate</td>
                                        }
                                        else
                                        {
                                            <td>-</td>
                                        }
                                        <td>
                                            @if (item.CodeReviewExist)
                                            {
                                                <a href="#"><i class="fa fa-check"></i> Wyświetl</a>
                                            }
                                            else if (item.Finished)
                                            {
                                                <a href="#"><i class="fa fa-plus"></i> Dodaj</a>
                                            }
                                            else
                                            {
                                                <span>-</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.CodeReviewExist)
                                            {
                                                <span style="background-color: forestgreen; border-radius: 3px; padding: 5px; color: white;">
                                                    Zakończone
                                                </span>
                                            }
                                            else if (item.Finished)
                                            {
                                                <span style="background-color: orange; border-radius: 3px; padding: 5px; color: white;">
                                                    Oczekujące na ocenę
                                                </span>
                                            }
                                            else
                                            {
                                                <span style="background-color: dimgray; border-radius: 3px; padding: 5px; color: white;">
                                                    W trakcie
                                                </span>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Link do repozytorium GIT</label>
                    <input class="form-control" value="@Model.RepositoryLink" readonly />
                </div>
                <div>
                    <label class="control-label">Dostępne branch'e:</label>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width: 110px;">Nazwa</th>
                            <th>Opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Branches)
                        {
                            <tr>
                                <td style="min-width: 110px;">@item.Name</td>
                                <td style="word-break: break-word">@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="margin-left: -10px; margin-top: 50px; margin-bottom: 50px;">
                    <button class="btn btn-success"><i class="fa fa-pencil"></i> Edytuj</button>
                    <button class="btn btn-success"><i class="fa fa-trash"></i> Usuń</button>
                </div>
            </div>
        </div>
    </div>
</div>