@model ITLearning.Contract.Data.Model.Tasks.TaskData

@{
    var language = Model.SelectedLanguage.ToString();
}

<div class="task-header" ng-style="publicSingleTaskVM.BackgroundImage" ng-controller="PublicSingleTaskViewController as publicSingleTaskVM"
     ng-init="publicSingleTaskVM.init('@language')">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div ng-style="publicSingleTaskVM.BackgroundColor" class="task-language-label">
                    <p>
                        <i class="fa fa-file"></i> {{publicSingleTaskVM.Language}}
                    </p>
                </div>
                <h4 class="description">@Model.Name</h4>
            </div>
            <div class="col-md-4 task-group-header-info">
                <p>Grupa</p>
                @if (Model.UserGroup != null)
                {
                    <div><a href="/Groups/@Model.UserGroup.Id"><i class="fa fa-users"></i> @Model.UserGroup.Name</a></div>
                }
                else
                {
                    <div>Brak przydzielonej grupy</div>
                }
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div style="word-break: break-word;">
                    @Html.Raw(Model.Description)
                </div>
                <div style="margin-top: 25px;">
                    Autor:
                    <a href="/User/PublicProfile/@Model.Author.UserName">@Model.Author.UserName</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <label class="control-label">Dostępne branch'e:</label>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width: 110px;">Nazwa</th>
                            <th>Opis</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Branches)
                        {
                            <tr>
                                <td style="min-width: 110px;">@item.Name</td>
                                <td style="word-break: break-word">@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="margin-left: -10px; margin-top: 50px; margin-bottom: 50px;">
                    <form asp-action="BeginTask" asp-controller="Tasks" asp-route-id="@Model.Id">
                        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Rozpocznij zadanie</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>