@model ITLearning.Contract.Data.Model.User.UserProfileData

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="user-profile-container">
                    <img class="user-image" src="@Model.ProfileImagePath" alt="Zdjęcie profilowe" />
                    <div class="user-data-container">
                        <div class="user-name">
                            <p>@(Model.FirstName ?? Model.UserName)</p>
                        </div>
                    </div>
                </section>
                <div style="margin-top: 15px;">
                    <label class="control-label"><i class="fa fa-info-circle" style="margin-right: 5px;"></i> Informacje</label>
                    <hr style="margin-top: 0px;" />
                    <div class="col-sm-4" style="padding-left: 0px;">
                        <label class="control-label"><i class="fa fa-envelope"></i> Email</label>
                    </div>
                    <div class="col-sm-8">
                        @Model.Email
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5 class="user-profile-section-title"><i class="fa fa-code"></i> Utworzone zadania</h5>
                <itl-task-list user-name="@Model.UserName">
                    <itl-loading-indicator parent-vm-scoped="taskListVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                </itl-task-list>
            </div>
            <div class="col-md-3">
                <h5 class="user-profile-section-title"><i class="fa fa-users"></i> Grupy użytkownika</h5>
                <itl-groups-basic-list no-of-groups="3" user-name="@Model.UserName">
                    <itl-loading-indicator parent-vm-scoped="groupListVm" dot-background="#333" dot-size="5px"></itl-loading-indicator>
                </itl-groups-basic-list>
            </div>
        </div>
    </div>
</div>