@model SignUpViewModel

<div class="form-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form role="form" asp-action="SignUp" asp-controller="Account">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span><i class="fa fa-info-circle"></i> | Zarejestruj się</span>
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(excludePropertyErrors: true)
                            <div class="form-group">
                                <label>Login</label>
                                <span class="label-validation-message">@Html.ValidationMessageFor(p => p.Login)</span>
                                <input type="text" class="form-control" name="Login" value="@Model.Login"/>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <span class="label-validation-message">@Html.ValidationMessageFor(p => p.Email)</span>
                                <input type="text" class="form-control" name="Email" value="@Model.Email"/>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hasło</label>
                                        <span class="label-validation-message">@Html.ValidationMessageFor(p => p.Password)</span>
                                        <input type="password" class="form-control" name="Password" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Powtórz hasło</label>
                                        <span class="label-validation-message">@Html.ValidationMessageFor(p => p.PasswordConfirmation)</span>
                                        <input type="password" class="form-control" name="PasswordConfirmation" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right">Zarejestruj</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>