@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{
    var appName = "IT Learning";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>@appName</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="~/src/_bower/Font-Awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/src/_bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/src/css/bootstrap-layout.css" rel="stylesheet" />
    <link href="~/src/css/header.css" rel="stylesheet" />
    <link href="~/src/css/layout.css" rel="stylesheet" />
</head>
<body ng-app="app">
    @Html.Partial("~/Views/Shared/Partials/Header.cshtml", "SideMenu")

    <div id="page-wrapper">
        <article class="main-content">
            @RenderBody()
        </article>
    </div>

    @Html.Partial("~/Views/Shared/Partials/BaseScripts/AppBaseScripts.cshtml")
    @RenderSection("Scripts", required: false)

    <!-- Keep this at the end of scripts-->
    <!--[if lte IE 8]><script src="~/src/_bower/html5shiv/dist/html5shiv.js"></script><![endif]-->
</body>
</html>