@model ITLearning.Frontend.Web.ViewModels.Home.HomeViewModel

@{
    var userData = Model.UserData;
    var mainNews = Model.MainNews;
    var smallNewsList = Model.SmallNews;
}

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <section class="user-profile-container">
                    <section class="user-data user-profile-section">
                        <div class="user-photo" style="background-image: url('@userData.ProfileImagePath')"></div>
                        <p class="user-name">@userData.DisplayName</p>
                    </section>
                    @* TODO SHORTCUTS WIDGET *@
                </section>
            </div>
            <div class="col-md-9">
                <h4 class="section-header section-header-success">IT Newsy</h4>
                <section class="section-container news-container">
                    @if(mainNews != null)
                    {
                        <div class="row news-row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <a href="/@mainNews.Id" class="news-link">
                                    <article class="news news-big" style="background-image: url('@mainNews.BackgroundImagePath')">
                                        <div class="news-social-wrapper">
                                            <ul>
                                                <li><div class="icon-wrapper" title="@mainNews.SocialNoOfLikesTitle"><i class="fa fa-thumbs-o-up"></i> @mainNews.SocialNoOfLikes</div></li>
                                                <li><div class="icon-wrapper" title="@mainNews.SocialNoOfSharesTitle"><i class="fa fa-share"></i> @mainNews.SocialNoOfShares</div></li>
                                            </ul>
                                        </div>
                                        <div class="news-description-wrapper">
                                            <p class="news-text">@mainNews.Title</p>
                                        </div>
                                    </article>
                                </a>
                            </div>
                        </div>
                    }
                    @if (smallNewsList != null && smallNewsList.Any())
                    {
                        <div class="row news-row">
                            @foreach (var news in smallNewsList)
                            {
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <a href="/@news.Id" class="news-link">
                                        <article class="news news-small" style="background-image: url('@news.BackgroundImagePath')">
                                            <div class="news-social-wrapper">
                                                <ul>
                                                    <li><div class="icon-wrapper" title="@news.SocialNoOfLikesTitle"><i class="fa fa-thumbs-o-up"></i> @news.SocialNoOfLikes</div></li>
                                                    <li><div class="icon-wrapper" title="@news.SocialNoOfSharesTitle"><i class="fa fa-share"></i> @news.SocialNoOfShares</div></li>
                                                </ul>
                                            </div>
                                            <div class="news-description-wrapper">
                                                <p class="news-text">@news.Title</p>
                                            </div>
                                        </article>
                                    </a>
                                </div>
                            }
                        </div>
                    }
                </section>
                <h4 class="section-header section-header-primary">IT Nauka</h4>
                <section class="section-container learning-container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="learning-hub">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="learning-hub-title">NAJNOWSZE ZADANIA</h5>

                                        <itl-task-list no-of-tasks="5">
                                            <itl-loading-indicator dot-background="#333" 
                                                                   dot-size="10px" 
                                                                   loading-text="Ładuję najnowsze zadania..."></itl-loading-indicator>
                                        </itl-task-list>

                                        <a href="#" class="btn btn-default pull-right">Więcej</a>
                                    </div>
                                    <div class="col-md-4">
                                        <h5 class="learning-hub-title">TWOJE GRUPY</h5>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="group-container" title=".NET ATH">
                                                    <a href="#">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="title">
                                                                    .NET ATH
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="group-summary">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-users"></i> 12
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="group-container" title="JAVA ATH">
                                                    <a href="#">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="title">
                                                                    JAVA ATH
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="group-summary">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-users"></i> 12
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="group-container" title="Frontend Bielsko-Biała">
                                                    <a href="#">
                                                        <div class="row">
                                                            <div class="col-xs-8">
                                                                <div class="title">
                                                                    Frontend Bielsko-Biała
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="group-summary">
                                                                    <ul>
                                                                        <li>
                                                                            <i class="fa fa-users"></i> 12
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <a href="#" class="btn btn-default pull-right">Więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>